html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#cesiumContainer {
  height: 100%;
}
#storyButtons {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
/* Button Styles */
button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: background-color 0.3s;
}

.button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s;
}

.button:active:after {
  transform: translate(-50%, -50%) scale(0);
}

.button-primary {
  background-color: #6200ea;
  color: #ffffff;
}

.button-primary:hover {
  background-color: #3700b3;
}

.button-secondary {
  background-color: #018786;
  color: #ffffff;
}

.button-secondary:hover {
  background-color: #01675b;
}
